/*.container_crear{
    margin-top: 115px;
    margin-left: 140px;
}

.card-header{
    position: fixed;
    left: 45%;
    top: 120px;
}
.card-header h4{
    margin-bottom: 120px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.container_tabla_edit{
    position: fixed;
    left: 25%;
    margin-top: 120px;
}

.container_tabla_edit{
    border: solid 5px #46ce96;
    padding: 35px;
    background-color: white;
    width: 60%;
}
.form-group{

    margin: 20px;
}

.container_tabla_edit .form-control{
    border: solid white 0px;
    background-color: rgba(167, 167, 167, 0.267);
    width: 90%;
    padding: 6px;
}
.container_tabla_edit label{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}





.btn_btn_editar{
    box-shadow: 2px 2px rgb(170, 167, 167);
    border: solid 1px white;
    position: relative;
    left: 15%;
}



.btn_btn_editar:hover{
    background-color: #46ce96;
    color: white;
}

.btn_btn:hover{
    background-color: #46ce96;
    color: white;
}

.btn_btn{
    display: flex;
    position: relative;
    left: 45%;
    justify-content: center;
background-color: #26302a;
    color: white;
    width: 150px;
    border: solid 1px white;
    padding: 12px;
    border-radius: 10px;
}

.btn_vovler{
    padding: 12px;
    position: relative;
    top: -45px;
    border-radius: 10px;
    border: solid 1px white;
    background-color: #26302a;
    left: 22px;
}
.btn_vovler a{
    text-decoration: none;
    color: white;
}

.btn_vovler:hover{
    background-color: #46ce96;
    color: white;
}
.btn_vovler a:hover{
    color: white;
}*/

body{
    background-color: rgba(63, 63, 63, 0.092);
}

h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin:40px;
    color: #26302a;
}

.formulario{
    position: relative;
    display: flex;
    left: 28%;
    width: 45%;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    padding-top: 35px;
    background-color: #fff;
    margin-bottom: 2em;
}

.formulario-asistencia{
    position: relative;
    display: flex;
    left: 25%;
    width: 50%;
    border-radius: 15px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    padding-top: 35px;
    background-color: #fff;
    margin-bottom: 2em;
}


select{
    width: 100%;
    height: 30px;
}

/* .container_crear{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 10%;
    top: 35%;
    border: none ;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 3px rgb(170, 167, 167);
} */
.card-header{
    display: flex;
    justify-content: center;
    padding: 12px;
    font-size: 30px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #26302a;
    color: white;
}

/* .container_tabla_edit{
    padding: 25px;
} */
.form-group{
    position: relative;
    left: 50%;
    padding-bottom: 15px;
    padding-right: 35px;
    width: 150%;
}
.form-control{
    margin-top: 5px;
    padding: 10px;
    width: 100%;
}

i{
    color: white;
}

/* .container_btn{
    display: flex;
    margin: 15px;
} */

.btn_vovler{
    background-color:#46ce96 ;
    padding: 12px;
    margin-left: 250px;
    border-radius: 25px;
    border: none;
}
.btn_vovler:hover{
    background-color:#26302a ;
}
.btn_btn{
    position: relative;
    left: 120%;
    background-color:#46ce96 ;
    padding: 12px;
    border-radius: 25px;
    border: none;
}

.btn_btn a{
    text-decoration: none;
    color: #fff;
}

.btn_btn:hover{
    background-color:#26302a ;
}
.sub_btn a{
    color: white;
    text-decoration: none;
}

.sub_btn{
    position: absolute;
    left: -12em;
    font-family: 'Roboto', sans-serif;
}