.container{
    margin: 90px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    
    
}
.card .content-card{
    margin: 20px;
    min-width: 200px;
    max-width: 200px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content:flex-end;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgb(75, 75, 75);
    
}

.card .container_btn{
    text-align: center;
    margin-top: 6%;
    
}
.btn_btn_editar{
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    background-color: #46ce96;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

.btn_btn_agregar{
    position: absolute;
    left: 1.9em;
    top: 1.9em;
    font-size: 50px;
    width: 10%;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    border: none;
    color: #26302a;
}

.btn_btn_agregar:hover{
    color: #46ce96;
}

.btn_btn_editar a{
    text-decoration: none;
    color:white ;
}

.btn_btn_editar:hover{
    background-color: #26302a;
    color: white;
}
i{
    color: white;
}
