*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    margin-left: 60px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: rgba(63, 63, 63, 0.092);
}

/*******Navegador********/

header{
    background-color: #46ce96;
    width: 100%;
    height:80px ;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2000;/***poruqe 200 para que siempre se mantenga por encima de todos los elementos de la pagina web***/
}

.icon_menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(15px);
}

.icon_menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color: white;
    z-index: 200;
}
.icon_menu i:hover{
    color: #26302a;
}

/*****************nav ********************/
.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    top: 22px;
    right: 20px;
}
.img_nav_desple{
    margin-right: -5px;
}

.img-usuario{
    margin-right: 25px;
}

.navbar a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #26302a;
    font-size: 18px;
    margin-right: 20px;
    
}
.navbar a:hover{
    color: white;
}

.img_nav_desple:focus{
    background-color: #46ce9585;
}
.dropdown-content{
    background-color: #26302a;
    width: 200px;
    padding-bottom: 40px;
    padding-right: 25px;
    display: none;
    position: absolute;
    top: 57px;
    right:-19px ;
}
.dropdown-content a{
    margin-top: 60px;
    color: white;
    display: block;
    text-align: right;
}
.dropdown-content a:hover{
    color: #46ce96;

}
.dropdown-content a:hover::before{
    content: '';
    width: 3px;
    height: 10%;
    background-color: #46ce96;
    position: absolute;
    top: 20%;
    right:10px;
}
a i{
    margin-left: 10px;
}

/**********desplegable horizontal***************/

.show {display: block;}
/**********desplegable vertical***************/

.menu__side{
    width: 80px;
    height: 100%;
    background-color: #26302a;
    position: fixed;
    top:0px;
    left: 0;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/*********ocultar el scroll de menu__side  para crhome, safari y opera**************/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*********ocultar el scroll de menu__side  para IE, EDGE Y FIREFOX **************/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 22px;

    display: flex;
    align-items: center;
    margin-top: 3px;
    background-color: #46ce96;
    position:relative;
    top: -3px;
    
}

.name__page img{
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a {
    color: #ffffffb2;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: #46ce96;
}

.options__menu a:hover::before{
    content: '';
    width: 3px;
    height: 60%;
    background-color: #46ce96;
    position: absolute;
    top: 20%;
    left: -25px;
}


.options__menu .option{
    padding:25px 0px ;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option h4{
    font-weight: 500;
}

.options__menu .option img{
    margin-right: 25px;
}



/**************clase para utilizar en javaScripth*************************/
.body_move{
    margin-left: 233px;
}

.menu__side_move{
    width: 250px;
}




/*************@media**********************/
@media screen and (max-width:760px) {
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }

}